.imgContainer {
	height: 50%;
	background: var(--white);
	border-radius: 5px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
	padding: 1.5rem 2rem;

	margin: 3.5rem 0;
	padding-bottom: 1rem;
	border-bottom: 1px solid #d7d8da;
}
