.imgContainer {
	border-radius: 5px;
	display: flex;
	align-items: center;
	height: 70vh;
	width: 100%;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
	.imgContainer {
		border-radius: 5px;
		display: flex;
		height: 70vh;
		margin: 1rem;
		width: 90%;

		box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
	}
}
@media (max-width: 800px) {
	.imgContainer {
		border-radius: 5px;
		display: flex;
		height: 50vh;
		width: 100%;

		box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
	}
}
@media (min-width: 1200px) {
	.imgContainer {
		border-radius: 5px;
		display: flex;
		height: 70vh;
		width: 80%;

		box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
	}
}
