.infoContainer {
	height: 50%;
	background: var(--white);
	border-radius: 5px;
	border-bottom: 1px solid #d7d8da;

	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

	box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
	padding: 1.5rem 2rem;

	flex-direction: column;
	text-align: center;

	margin: 3.5rem 0;
	padding-bottom: 1rem;
}
.headersContainer {
	width: 100%;
}
.title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;

	border-bottom: grey solid 1px;
	margin-bottom: 1rem;
}

.author {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

	font-size: 1.5rem;
	color: darkgray;
}

.infoMisc {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.infoMiscMarginTop {
	margin-top: 1rem;
}
